<div class="bmb-header">
	<div class="row">
        <div class="col-xs-12 col-lg-12">
            <div class="header-container">
                <a id="BackButton" class="nav-button" href ng-click="goBack()" ng-if="currentPage === 'Bookmarks'">Back</a>
                <h5 class="header-text">{{ headerText }}</h5>
                <a id="GoToTopButton" class="nav-button" href ng-click="goToTop()" ng-if="currentPage === 'Bookmarks'">Top</a>
            </div>
            <div class="msg-panel" ng-if="hasMessage">
                {{ message }}
            </div>
		</div>
	</div>
</div>
