.bmb-header {
    .header-container {
        background-color: #5e87b0;
        border-color: #456f9a;
        border-style: solid;
        border-width: 0;
        border-top-width: 1px;
        border-bottom-width: 1px;
        height: 54px;
        text-shadow: 0 1px 0 #8d3e90;
    }

    .header-text {
        color: #ffffff;
        font-size: 16px;
        font-weight: bold;
        margin: 0 16%;
        outline: 0!important;
        overflow: hidden;
        padding: 16px;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .nav-button {
        background: #396b9e;
        border-color: #1f3a56;
        border-radius: 4px;
        border-style: solid;
        border-width: 1px;
        color: #ffffff;
        font-size: 13px;
        font-weight: bold;
        padding: 8px 0 8px 0;
        position: absolute;
        text-shadow: 0 1px 0 #444444;
        text-decoration: none;
        text-align: center;
        top: 9px;
        width: 60px;
    }

    #BackButton {
        left: 8px;
    }

    #GoToTopButton {
        right: 8px;
    }

    a:link,
    a:visited {
        background: #396b9e;
        border-color: #1f3a56;
    }

    a:hover {
        background: #417bb5;
        border-color: #234363;
    }
}