<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.7.2"/>
        <httpRuntime targetFramework="4.7.2" enableVersionHeader="false"/>
    </system.web>
    <system.webServer>
        <handlers>
            <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
            <remove name="OPTIONSVerbHandler"/>
            <remove name="TRACEVerbHandler"/>
            <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler"
                preCondition="integratedMode,runtimeVersionv4.0"/>
        </handlers>
        <security>
            <requestFiltering removeServerHeader="true"/>
        </security>
        <rewrite>
            <rules>
                <rule name="SPA routes" stopProcessing="true">
                    <match url=".*"/>
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
                        <add input="{REQUEST_URI}" pattern="^/(api)" negate="true"/>
                    </conditions>
                    <action type="Rewrite" url="/"/>
                </rule>
            </rules>
        </rewrite>
        <httpProtocol>
            <customHeaders>
                <add name="X-Content-Type-Options" value="nosniff"/>
                <add name="X-Xss-Protection" value="1; mode=block"/>
                <add name="X-Frame-Options" value="SAMEORIGIN"/>
                <add name="Referrer-Policy" value="no-referrer-when-downgrade"/>
            </customHeaders>
        </httpProtocol>
    </system.webServer>
    <system.codedom>
        <compilers/>
    </system.codedom>
</configuration>