<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/e0b8ce18-604b-466e-87b8-67cfbb5d61e4/resourceGroups/cmt-apps/providers/Microsoft.Web/sites/cmt-bmb-api-dot-net</ResourceId>
    <ResourceGroup>cmt-apps</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://cmt-bmb-api-dot-net.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>e45984c8-22e8-45b1-a961-f4a83ba327cc</ProjectGuid>
    <PublishUrl>https://cmt-bmb-api-dot-net.scm.azurewebsites.net/</PublishUrl>
    <UserName>$cmt-bmb-api-dot-net</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>