/* Bookmarks */
.imageBlock
{
    display:table-cell;
    vertical-align:middle;
    padding-right:10px;
}

.nameAndLocationBlock
{
    display:table-cell;
    vertical-align:middle;
    width:100%;
}

.locationBlock
{
    font-size:0.9em;
    font-weight:normal;
    overflow:hidden !important;
    white-space:nowrap !important;
    text-overflow:ellipsis !important;
}

/* Settings */
.statsTable
{
    font-size:1.1em;
    margin:0px auto;
    width:100%;
}

td.labelColumn
{
    padding-right:5px;
    padding-bottom:10px;
    text-align:right;
    width:50%;
}

td.fieldColumn
{
    padding-left:5px;
    padding-bottom:10px;
    text-align:left;
    width:50%;
}

/* General */
*
{
    font-family:Arial, Helvetica, sans-serif;
}

.smallText
{ font-size:0.8em; }

.largeText
{ font-size:1.2em; }

.errorNotification
{ color: Red; }

.fullWidth
{ width:100%; }

.hideMe
{ display:none; }

.noOverflow
{ overflow:hidden; }

.alignTop
{ vertical-align:top; }

.alignMiddle
{ vertical-align:middle; }

.alignBottom
{ vertical-align:bottom; }

.alignLeft
{ text-align:left; }

.alignCenter
{ text-align:center; }

.alignRight
{ text-align:right; }

.displayInlineBlock
{ display:inline-block; }

.topPadding5
{ padding-top:5px; }

.topPadding10
{ padding-top:10px; }

.topPadding15
{ padding-top:15px; }

.topPadding20
{ padding-top:20px; }

.topMargin5
{ margin-top:5px }

.topMargin10
{ margin-top:10px }

.topMargin15
{ margin-top:15px }

.topMargin20
{ margin-top:20px }

.bottomPadding5
{ padding-bottom:5px }

.bottomPadding10
{ padding-bottom:10px }

.bottomPadding15
{ padding-bottom:15px }

.bottomPadding20
{ padding-bottom:20px }

.bottomMargin5
{ margin-bottom:5px; }

.bottomMargin10
{ margin-bottom:10px }

.bottomMargin15
{ margin-bottom:15px }

.leftPadding3
{ padding-left:3px; }

.leftPadding10
{ padding-left:10px; }

.leftPadding20
{ padding-left:20px; }

.leftMargin5
{ margin-left:5px; }

.leftMargin10
{ margin-left:10px; }

.leftMargin20
{ margin-left:20px; }

.rightPadding5
{ padding-right:5px; }

.wordSpacing
{
    padding-left:5px; 
    padding-right:5px
}

.msgPanel
{
    display:none;
    padding-bottom:5px;
    text-align:center;
}

.noOutline
{
    outline:none;
}

.clear
{
    clear: both;
}

a.anchor:link,
a.anchor:visited,
a.anchor:focus,
a.anchor:active
{
    outline:none;
    text-decoration:none;
}

a.anchor:hover
{
    color: #FF6A00;
    outline:none;
    text-decoration:underline;
}

a.noUnderline:link,
a.noUnderline:visited,
a.noUnderline:focus,
a.noUnderline:hover,
a.noUnderline:active
{
    text-decoration:none;
}

.footerList
{
    list-style-type:none;
}
